@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,300light|Monsterrat:400|Oswald:300,400|Bree+Serif|Merriweather|Vollkorn');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

$font-primary: Monsterrat, sans-serif;//ato, sans-serif;
$font-secondary: Merriweather, serif;

$color-gray: #707070;

.font-primary {

  font-family: $font-primary !important;
}

.font-secondary {

  font-family: $font-secondary !important;
}

.mega-title {
  @extend .font-primary;
  font-size: 36px !important;
  font-weight: 100;
}

.title {

  @extend .font-primary;
  font-size: 28px !important;
  font-weight: 100;
}

.subtitle {
  @extend .title;
  font-size: 26px !important;
}

.text-alert {
  @extend .font-secondary;
  font-size: 24px !important;
  color: #FFF !important;
}