

  <div class="tab-container row">
    <div class="tab small-6 column selected"><center>Home</center></div>
    <!--<div class="tab small-4 column"><center>Options</center></div>-->
    <div class="tab small-6 column"><center>Phone</center></div>
  </div>
  
<div class="fifth-block">
  <div data-alert class="alert-box" ng-show='showWarning'>
    <h4 class="text-alert" ng-bind="warning">{{ warning }}</h4>
  </div>
</div>
  <div class="row">
    <div class="small-12 column">
      <div id="graph-vehicle-speed" class="big-gage"></div>
    </div>

  <center>
    <div class="small-6 column">
      <div id="graph-battery-level" class="small-gage"></div>
    </div>

    <div class="small-6 column">
      <div id="graph-fuel-level" class="small-gage"></div>
    </div>


  </center>
  </div>







